.navbar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navbar_list_element {
    float: left;
  }

.navbar_log_element {
    float: right;
}

.navbar_link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar_link:hover {
    background-color: #111;
  }